body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

body {background-color : #ededed; font-family : "Open Sans", sans-serif;}

h1 {padding: 40px; text-align: center; font-size: 1.5em;}

li a {text-decoration : none; color : #2d2f31;}


nav {
  width : 300px; 
  background: #d9d9d9;
  margin : 40px auto; 
}

span {
  padding : 30px;
  background : #2d2f31; 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}

.slide {
  clear:both;
  width:100%;
  height:50px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}
.drop{
    text-align: center;
}

.slide li {padding : 30px;}

#touch {position: center; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: 300px;} 